@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
.grid{
  display:grid;
  grid-template:1fr 1fr 1fr 1fr/1fr 1fr 1fr 1fr;
  gap:20px;
}
body{
  font-family:'Pixelify Sans', sans-serif;
  background-image :url('./assets/pokemon-in-the-wild.png');
  background-size:cover;
  display:flex;

}p{
  font-size:20px;
}

.grid div{
  border:1px solid black;
  border:1px solid black;
}
.card{
  background-color:rgba(57, 57, 57, 0.5);
  pointer-events:auto;
}
button{
  font-size:25px;
  margin-bottom:20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.game-over{
  position:fixed;
  top:50%;
  left:50%;
  width: 40%;
  height:40%;
  display:flex;
  flex-direction:column;
  justify-content:space-between; 
  transform:translate(-50%,-50%);
  background-color:#f1f1f1;
  border:2px solid black;
  padding:35px;
  z-index:25;

}

.start-btn{
  text-align: center;
display: inline-block;
margin:5px;
  font-weight: bold;
  padding: 10px 0 10px 10px ;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
-moz-border-radius: 7px;
-o-border-radius: 7px;
border-radius: 7px;
  box-shadow: 0 .2em gray; 
  cursor: pointer;

}



/* CSS */
.button-56 {
  margin:auto;
  margin-bottom:30px;
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}